In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.svm import SVC
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score
import warnings

In [8]:
df = pd.read_csv('E:/GuviProject/mlproject/notebook/data/hospital_readmissions (1).csv')

In [9]:
df.head()

,Patient_ID,Age,Gender,Admission_Type,Diagnosis,Num_Lab_Procedures,Num_Medications,Num_Outpatient_Visits,Num_Inpatient_Visits,Num_Emergency_Visits,Num_Diagnoses,A1C_Result,Readmitted
0,1,69,Other,Emergency,Heart Disease,33,2,4,1,1,5,NaN,Yes
1,2,32,Female,Urgent,Diabetes,81,10,4,4,1,6,NaN,No
2,3,78,Female,Urgent,Heart Disease,75,29,4,0,3,5,Normal,No
3,4,38,Male,Elective,Diabetes,77,11,2,3,4,9,NaN,Yes
4,5,41,Female,Urgent,Diabetes,50,25,3,4,1,3,NaN,Yes

In [10]:
X =df.drop(columns=['Readmitted'], axis=1)

In [12]:
X.head()

,Patient_ID,Age,Gender,Admission_Type,Diagnosis,Num_Lab_Procedures,Num_Medications,Num_Outpatient_Visits,Num_Inpatient_Visits,Num_Emergency_Visits,Num_Diagnoses,A1C_Result
0,1,69,Other,Emergency,Heart Disease,33,2,4,1,1,5,NaN
1,2,32,Female,Urgent,Diabetes,81,10,4,4,1,6,NaN
2,3,78,Female,Urgent,Heart Disease,75,29,4,0,3,5,Normal
3,4,38,Male,Elective,Diabetes,77,11,2,3,4,9,NaN
4,5,41,Female,Urgent,Diabetes,50,25,3,4,1,3,NaN

In [13]:
y= df['Readmitted']

In [14]:
y

0      Yes
1       No
2       No
3      Yes
4      Yes
      ...
995     No
996     No
997     No
998     No
999    Yes
Name: Readmitted, Length: 1000, dtype: object

In [15]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer([
    ("OneHotEncoder", oh_transformer, cat_features),
    ("StandardScaler",numeric_transformer, num_features),
])

In [16]:
X = preprocessor.fit_transform(X)

In [19]:
X.shape

(1000, 21)

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
X_train.shape, X_test.shape

((800, 21), (200, 21))

In [24]:
def evaluate_model(true, predicted):
    accuracy = accuracy_score(true, predicted)
    precision = precision_score(true, predicted)
    recall = recall_score(true, predicted)
    f1 = f1_score(true, predicted)
    roc_auc = roc_auc_score(true, predicted) if predicted is not None else None
    conf_matrix = confusion_matrix(true, predicted)
    class_report = classification_report(true, predicted)
    r2_score=r2_score(true, predicted)

    return accuracy,precision,recall,f1,roc_auc,conf_matrix,class_report, r2_score